absl-py==1.4.0
aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
ansicon==1.89.0
antlr4-python3-runtime==4.8
anyio==3.7.1
arrow==1.2.3
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
av==11.0.0
Babel==2.13.1
beautifulsoup4==4.12.2
bitarray==2.8.3
blessed==1.20.0
blinker==1.6.3
browser-cookie3==0.19.1
cachetools==5.3.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cm-time==0.1.2
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.0.7
croniter==1.3.15
curl-cffi==0.5.9
cycler==0.11.0
Cython==0.29.35
dateutils==0.6.12
decorator==5.1.1
deepdiff==6.3.0
diffusers==0.11.1
einops==0.7.0
exceptiongroup==1.1.1
fairseq==0.12.2
faiss-cpu==1.7.3
fake-useragent==1.3.0
fastapi==0.88.0
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.9.0
Flask==3.0.0
flask-babel==4.0.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==23.1.4
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.3
gin==0.1.6
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.19.1
google-auth-oauthlib==1.0.0
gradio==3.34.0
gradio_client==0.7.0
greenlet==3.0.0
grpcio==1.54.2
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
huggingface-hub==0.15.1
humanfriendly==10.0
hydra-core==1.0.7
idna==3.4
importlib-metadata==6.0.0
importlib-resources==6.1.1
inquirer==3.1.3
invisible-watermark==0.1.5
itsdangerous==2.1.2
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.2.0
json5==0.9.14
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
kiwisolver==1.4.4
Levenshtein==0.23.0
librosa==0.9.1
lightning==2.0.2
lightning-cloud==0.5.36
lightning-utilities==0.8.0
linkify-it-py==2.0.2
llvmlite==0.39.0
local-attention==1.9.0
lxml==4.9.3
lz4==4.3.2
MailGw-Temporary-Email==0.0.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.2.1
multidict==6.0.4
names==0.3.0
networkx==3.1
noisereduce==3.0.0
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.0.6
onnx==1.13.0
onnxoptimizer==0.3.13
onnxruntime==1.13.1
onnxruntime-directml==1.16.2
onnxruntime-gpu==1.16.2
onnxsim==0.4.28
opencv-python==4.7.0.68
ordered-set==4.1.0
orjson==3.9.10
outcome==1.3.0.post0
p2j==1.3.2
packaging==23.0
pandas==2.1.2
Pebble==5.0.3
Pillow==9.4.0
platformdirs==3.5.1
pooch==1.7.0
portalocker==2.8.2
praat-parselmouth==0.4.3
protobuf==3.20.3
psutil==5.9.5
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pycryptodomex==3.19.0
pydantic==1.10.13
pydantic_core==2.10.1
pydeck==0.8.1b0
pydub==0.25.1
PyExecJS==1.5.1
pygame==2.5.2
Pygments==2.15.1
PyJWT==2.7.0
pymailtm==1.1.1
pyparsing==3.0.9
PyPasser==0.0.5
pyperclip==1.8.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyreadline3==3.4.1
PySimpleGUI==4.60.5
PySocks==1.7.1
pyTelegramBotAPI==4.15.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==2.0.2
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
pyworld==0.3.2
PyYAML==6.0
random-password-generator==2.2.0
random-username==1.0.2
rapidfuzz==3.5.2
readchar==4.0.5
redis==5.0.1
referencing==0.30.2
regex==2022.10.31
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
retrying==1.3.4
rfc3986==1.5.0
rich==13.4.1
rpds-py==0.12.0
rsa==4.9
sacrebleu==2.3.2
scikit-learn==1.2.2
scipy==1.9.3
selenium==4.15.2
semantic-version==2.10.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
so-vits-svc-fork==4.0.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4.1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.22
starlette==0.22.0
starsessions==1.3.0
streamlit==1.28.1
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorboardX==2.6
threadpoolctl==3.1.0
tls-client==0.2.2
tokenizers==0.12.1
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.0
torchaudio==2.1.0
torchcrepe==0.0.20
torchmetrics==0.11.4
torchvision==0.16.0
tornado==6.3.3
tqdm==4.64.1
tqdm-joblib==0.0.3
traitlets==5.9.0
transformers==4.29.2
trio==0.23.1
trio-websocket==0.11.1
TwoCaptcha==0.0.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uc-micro-py==1.0.2
urllib3==1.26.13
uvicorn==0.22.0
validators==0.22.0
watchdog==3.0.0
Wave==0.0.2
wcwidth==0.2.6
websocket-client==1.5.2
websockets==11.0.3
Werkzeug==3.0.0
wsproto==1.2.0
WTForms==3.1.0
yarl==1.9.2
zipp==3.11.0

